.wilayas {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.wilaya {
  padding: 0.5rem;
}
